<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/navigation')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>
                Soy programador web, cuento con capacidad para la resoluci칩n de problemas y experiencia en la creaci칩n y dise침o de p치ginas web en un entorno de pruebas. Recientemente graduado como <b>Programador Web FullStack</b>. En la actualidad trabajo en un rubro totalmente ajeno a lo que busco y estoy enfocado en conseguir <b>mi primer experiencia en el mundo IT</b>.
              </p>
        </section>
    </main>
    
    <%- include('partials/footer')%>
</body>
</html>