<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navigation')%>
    <div class="container vh-100 d-flex justify-content-center  ">
        <div class="row d-flex align-items-center">
            <div class="col-lg-5">
                <div class="card  mt-5 bg-dark text-white text-center">
                    <div class="card-header">
                        <h1>Mis redes</h1>
                    </div>
                    <div class="card-body text-start">

                        <a href="https://www.linkedin.com/in/franco-demetrio/" class="link-social" target="_blank">
                            <div class="info">
                                <div class="social linkedin">
                                    <i class="bx bxl-linkedin"></i>
                                    <h4>Linkedin</h4>
                                    <p>linkedin.com/in/franco-demetrio</p>
                                </div>
                            </div>
                        </a>

                        <a href="mailto:francodemetrio87@gmail.com?&subject=El%20asunto%20es%20&body=Hola%20Franco%20un%20gusto%20saludarte!"
                            class="link-social" target="_blank">
                            <div class="social email">
                                <i class="bi bi-envelope-fill"></i>
                                <h4>Email</h4>
                                <p>francodemetrio87@gmail.com</p>
                            </div>
                        </a>

                        <a href="https://api.whatsapp.com/send?phone=5493471622079&text=Hola%20Franco,&nbsp;como&nbsp;estás&nbsp;?"
                            class="link-social" target="_blank">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                                    <path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
                                  </svg>
                                <h4>Whatsapp</h4>
                                <p></p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>


            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <div class="card bg-dark text-white text-center">
                    <div class="card-header">
                        <h2>Contacto</h2>
                        <p>No dudes de contactarme. Saludos!</p>
                    </div>
                    <div class="card-body text-start">
                        <form action="https://formsubmit.co/francodemetrio87@gmail.com" method="post" role="form"
                            class="email-form" id="form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Nombre</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Email</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Asunto</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Mensaje</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <input type="hidden" name="_captcha" value="false">
                            <div class="text-center"><button clas="btn btn-primary" type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <%- include('partials/footer')%>

</body>

</html>