<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/navigation')%>

    <!-- Main Content -->
    <header class="container vh-100">
        <div class="d-flex flex-column mt-5 align-items-center">
            <img src="/img/profile-img.jpg" alt="" class="w-25 rounded">
            <h1 class="display-1 my-5 text-uppercase fw-bold text-center">Desarrollador Java Trainee/Jr</h1>
            <a href="/about" class="btn btn-primary w-25">About</a>
        </div>
    </header>

    <div class="m-3 text-center">
      <a href="https://www.linkedin.com/in/franco-demetrio/" target="_blank" class="linkedin"><img src="https://icongr.am/feather/linkedin.svg?size=64&color=ebe0e0" alt=""></a>
      <a href="https://github.com/Caco74" class="github" target="_blank" title="GitHub"><img src="https://icongr.am/feather/github.svg?size=64&color=ebe0e0" alt=""></a>
      <a href="FRANCO-DEMETRIO-CV.pdf" download target="_blank" title="Descargar CV"><img src="/img/cv.png" alt=""></a>
    </div>
    
    <%- include('partials/footer')%>
</body>
</html>