<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %> 
</head>
<body>
    <%- include('partials/navigation')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section id="skills" class="services">
            <div class="container">
        
              <div class="section-title">
                <h2>Skills</h2>
              </div>
        
              <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="fab fa-html5"></i></div>
                  <h4 class="title"><span>HTML</span></h4>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="150">
                  <div class="icon"><i class="ai-css-fill"></i></div>
                  <h4 class="title"><span>CSS3</span></h4>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon"><i class="fab fa-java"></i></div>
                  <h4 class="title"><span>Java</span></h4>
                </div>
                <div class="col-lg-4 col-md-6 icon-box-svg" data-aos="fade-up" style="margin-bottom: 20px;" data-aos-delay="250">
                  <div class="icon"><img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@v6/icons/hibernate.svg" class="svg" /></div>
                  <h4 class="title"><span>Hibernate</span></h4>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon"><i class="bx bxl-spring-boot"></i></div>
                  <h4 class="title">Spring</h4>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="350">
                  <div class="icon"><i class="ai-javascript-fill"></i></div>
                  <h4 class="title"><span>JavaScript</span></h4>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <div class="icon"><i class="bx bxs-file-json"></i> </i></div>
                  <h4 class="title"><span>JSON</span></h4>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="450">
                  <div class="icon"><i class="fab fa-git-alt"></i></div>
                  <h4 class="title"><span>Git</span></h4>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                  <div class="icon"><i class="fab fa-github"></i></div>
                  <h4 class="title"><span>GitHub</span></h4>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="550">
                  <div class="icon"><i class="fab fa-bootstrap"></i></div>
                  <h4 class="title"><span>Bootstrap</span></h4>
                </div>
              </div>
        
            </div>
          </section><!-- End Services Section -->


          <section id="educacion" class="educacion">
            <div class="container">
      
              <div class="section-title">
                <h2>Educación   </h2>
              </div>
      
              <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                  <div class="educacion-item">
                    <h4>Programación Web Full Stack</h4>
                    <h5>May - Dic | 2021</h5>
                    <p><em>UNR - Ministerio de Trabajo (may-dic 2021) (545 hs)</em></p>
                    <p>Curso virtual lanzado por la UNR , el Polo Tecnológico Rosario y el Ministerio de Trabajo de la Nación donde realicé trabajos cooperativos con compañeros.</p>
                    <p>Tecnologías vistas: diseño <b>FRONTEND</b>, <b>HTML + CSS</b>, <b>JAVASCRIPT</b>, arquitectura <b>BACKEND</b>, <b>POO</b>, <b>JAVA</b>, <b>MySQL</b>.</p>
                  </div>
                  <div class="educacion-item">
                    <h4>Desarrollo Web</h4>
                    <h5>2018 - 2020</h5>
                    <p><em>NextU - Plataforma online</em></p>
                    <p>Plataforma donde a mi tiempo y ritmo fui tomando y profundizando conocimientos en <b>HTML</b>, <b>CSS</b>, <b>JS</b> entre otros. Realicé proyectos a modo de estudio de manera individual.</p>
                    <p>
                      Otras tecnologías que utilicé: <b>jQuery</b>, <b>AJAX</b>, <b>NODEJS</b>, <b>BOOTSTRAP</b></p>
                  </div>
                  <div class="educacion-item d-sm-block d-md-none">
                    <h4>Analista de Sistemas</h4>
                    <h5>2013 - 2016</h5>
                    <p><em>Colegio Sup. Florentino Ameghino N° 47 - Cañada de Gómez</em></p>
                    <p>Carrera terciaria.</p>
                  </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="educacion-item d-none d-md-block d-lg-block">
                    <h4>Analista de Sistemas</h4>
                    <h5>2013 - 2016</h5>
                    <p><em>Colegio Sup. Florentino Ameghino N° 47 - Cañada de Gómez</em></p>
                    <p>Carrera terciaria.</p>
                  </div>
                </div>
              </div>
      
            </div>
          </section><!--End educacion Section-->
    </main>
    
    <%- include('partials/footer')%>
</body>
</html>